<%- include("header"); -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla itaque maiores quibusdam sed quasi sequi, error consectetur aut tempora doloremque assumenda minima! Modi aliquam nesciunt sint vel expedita temporibus totam.</p>

<%- include("footer"); -%> 