h1 {
  color: red;
}

body {
  margin: 0px;
}

.villager {
  position: absolute;
  height: auto;
  width: 40px;
}

.main-map {
  position: absolute;
  background-color: green;
  /* height: 90px;
  width: 90px; */
  height: 80%;
  width: 80%;
  left: 10%;
  top:10%

}
